.topnav {
    overflow: hidden;
    background-color: rgb(5,23,77);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .topnav span {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    opacity: 0.5;
  }
  
  
  
  .topnav span.active {
    opacity: 1.5;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .icon-class {
    width: 34px;
    height: 34px;
    margin-right: 8px;
    vertical-align: middle;
  }


  .left {
    display: flex;
    align-items: center;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .languageSwitcher {
    margin: 0 10px;
    cursor: pointer;
    color: white;
  }

  .selectedLanguage{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    opacity: 1.5;
  }
  
  .icon {
    cursor: pointer;
  }
  
  .active {
    color: yellow;
  }
  
  .responsive {
    flex-direction: column;
  }
  
  
  